<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    <!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
        <title>Green Collar</title>
    
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
         <link href="../css/css_slider.css" rel="stylesheet">
         <link href="../css/shards.min.css" rel="stylesheet">
         <link href="../css/style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
    <div th:insert="fragments/default.html :: header"> </div>
    
    <section class="py-5 team-w3ls" id="best">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 pt-sm-5 mb-5 text-wh font-weight-bold">Crops You Can Grow</h3>
			<div class="d-flex team-w3ls-row pt-xl-5 pt-md-3">
				<div class="col-lg-4 col-sm-6">
                <a href="/crops/maize">
					<div class="box20">
						<img src="images/maizeplantwith.jpg" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">Maize</h3>
						</div>
					</div>
                    </a>
				</div>
				<div class="col-lg-4 col-sm-6 my-sm-0 my-4">
                <a href="/crops/cassava">
					<div class="box20 active">
						<img src="images/cassavaplantwithmind.jpg" alt="" class="img-fluid" />
						<div class="box-content active">
							<h3 class="title">Cassava</h3>
						</div>
					</div>
                    </a>
				</div>
				<div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-4 mx-auto">
                <a href="/crops/cashew">
					<div class="box20">
						<img src="images/cashewplantwith.jpg" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">Cashews</h3>
						</div>
					</div>
                    </a>
				</div>
			</div>
			<div class="d-flex team-w3ls-row pt-lg-5 mt-lg-0 mt-4">
				<div class="col-lg-4 col-sm-6">
                <a href="#">
					<div class="box20">
						<img src="images/d4.jpg" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">Apples</h3>
						</div>
					</div>
                    </a>
				</div>
				<div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <a href="#">
					<div class="box20">
						<img src="images/d3.jpg" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">Grapes</h3>
						</div>
					</div>
                    </a>
				</div>
				<div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 mx-auto">
                <a href="#">
					<div class="box20">
						<img src="images/d2.jpg" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">Carrots</h3>

						</div>
					</div>
                    </a>
				</div>
			</div>
		</div>
	</section>
    
    <div th:insert="fragments/default.html :: footer"> </div> 
        <div th:insert="fragments/default.html :: copyright"> </div> 
         <div th:insert="fragments/default.html :: moveTop"> </div> 
       <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5cec274ba667a0210d59ae62/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
    </body>
</html>