<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello world page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="../css/style.css" rel="stylesheet">
       <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/main.js"></script>
    </head>
    <body>
    <div th:insert="fragments/default.html :: header"> </div>
    
    <section class="blog py-5">
	<div class="container py-md-3">
		<h2 class="heading text-center mt-3 mb-sm-5 mb-4">Maize</h2>
		<a th:href="@{/bookcrop/{id}(id=${crop.id})}"><button class="btn btn-primary">Book Package</button></a>
		<div class="row blog-grids head">
			<div class="col-lg-7 mb-lg-5 blog-img1">
				
				<a href="/">Home</a>
			</div>
			<div class="col-lg-5 mb-lg-5 mb-4">
				<h5>March 3, 2019.</h5>
				<h4 class="my-3">Nullam dui mi, vulputate ac</h4>
				<p class="my-3">onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
				 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.</p>
				<p>Cashew is a fruit that has many nutrients and health benefits to both the young and old. Cashew like many other fruits
                also has its season.
                </p>
                <img src="images/maizeplantwith.jpg" alt="" class="img-fluid"/>
                
			</div>
			
			
		</div>
	</div>
</section>
    
    <div th:insert="fragments/default.html :: footer"> </div> 
        <div th:insert="fragments/default.html :: copyright"> </div> 
         <div th:insert="fragments/default.html :: moveTo"> </div> 
    </body>
</html>